<!-- <a  href="javascript:void(0)" (click)="setCategory('education', 'home')">Education</a>
<a  href="javascript:void(0)" (click)="setCategory('manufacturing', 'leap')">Manufacturing</a> -->
<div style="display: flex; align-items: center;">
<div _ngcontent-flm-c97="" class="flagArea">
    <img _ngcontent-flm-c97="" title="" width="64" src="assets/images/cQube_logo.jpg" alt="LEAP | Actionable Intelligence">
</div>
    <span _ngcontent-flm-c97="" data-translate="govofIndia" style="color: white;" class="pl-3">LEAP | Actionable Intelligence</span>

<!-- 
<div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
    <div _ngcontent-flm-c97="" class="flagArea" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
        <img _ngcontent-flm-c97="" title="" width="64" src="assets/images/cQube_logo.jpg" alt="LEAP | Actionable Intelligence">
        <span _ngcontent-flm-c97="" data-translate="govofIndia" style="color: white;">LEAP | Actionable Intelligence</span>
    </div>
</div> -->

<div _ngcontent-flm-c97="" class="btnGroup"></div>
<div class="dropdown-container">
    <div>
        <p style="color: white; font-size: 30px;">Please select the domain you want to experience:</p>
        <div class="dropdown" style="font-size: 20px;">
            <button class="dropdown-toggle" style="color: white; border-bottom:2px solid white;">Select Category</button>
            <div class="dropdown-content">
                <a href="javascript:void(0)" (click)="setCategory('education', 'home')" style="font-size: 20px;">Edusense</a>
                <a href="javascript:void(0)" (click)="setCategory('manufacturing', 'leap')" style="font-size: 20px;">Manufacturing Sense</a>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    &copy;  Copyright 2023, all rights reserved with Tibil Solutions.
</div>